@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    #383d44 50%,
    transparent 100%
  );
  flex: 0 0 100%;
  margin: 15px 0;
}
